#section-about {

  .heading {
    h2{
      color: #024378;
    }
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .about-priluck--wrapper {
    background-image: url('/assets/team/bio-priluck.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top;
  }
  .about-nordone--wrapper {
    background-image: url('/assets/team/bio-nordone.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
    border-top: 1px solid #5D7278;
  }
  h3 {
    color: #3d893f;
    font-family: $ff-cardo;
    font-weight: 400;
    padding-top: 90px;
  }
  p {
    color: #535353;
    &:last-child {
      margin-bottom: 60px;
    }
  }


  // team carosuel
  .section-team-carosuel {
    background-color: rgba(#DDDDDD, 0.23);
    h5 {
      text-align: center;
      color: #024378;
      font-family: $ff-cardo;
      font-weight: 700;
    }
  }
  .team-carousel--wrapper {
    padding: 30px 60px;
  }
  .image-wrapper {
    @include hover-plus();
  }

  .team-modals {
    h5 {
      margin-bottom: 0;
    }
    img {
      max-width: 200px;
    }
    .modal-image {
      text-align: center;
      margin-bottom: 15px;
    }
  }

}