#section-forms {
  padding: 45px 0;
  .forms--wrapper {
    border: 2px solid #5F5B4A;
    padding-top: 15px;
    padding-bottom: 30px;
    text-align: center;
  }
  h2 {
    color: #014377;
    margin-bottom: 0;
  }
  h5 {
    font-family: $ff-josef;
    color: #585756;
  }
  .btn {
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
    &__one {
      background-color: #00939A;
    }
    &__two {
      background-color: #85B04B;
    }
    &__three {
      background-color: #0061A3;
    }
  }
}