#section-phone-slug,
#section-phone-slug-2 {
  //Colors
  $c-background: $c-white;
  $c-phone: $c-grey-blue;
  $c-text: $c-grey-blue;
  $c-breakline: $c-grey;



  background-color: $c-background;
  .text {
    font-family: $ff-lato;
    font-weight: 700;
    color: $c-text;
  }

  .phone-number {
    font-family: $ff-lato;
    font-weight: 700;
    @include link-color($c-phone);
    a:hover {
      text-decoration: none;
    }
    &:hover {
      text-decoration: none;
    }
    @media screen and (max-width: $width-md) {
      margin-bottom: $spacing-sm;
    }
    &--sub {
      font-weight: 900;
    }
  }

  .container {
    padding-top: $spacing-md;
    padding-bottom: $spacing-md;
  }

  .row {
    @media screen and (min-width: $width-md+1) {
      display: flex;
    }
    .btn {
      @media screen and (min-width: $width-md+1) {
        @include vertical-center();
      }
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  h3,
  h5,
  h6 {
    line-height: $lh-sm;
    margin-bottom: 0;
  }
  h3 {
    @media screen and (max-width: $width-md) {
      margin-bottom: $spacing-md;
    }
  }
  .row:first-child {
    padding-bottom: $spacing-sm;
  }
  .phone-slab__left {
    border-right: solid 2px $c-breakline;
    text-align: right;
    margin-top: 5px;
    @media screen and (max-width: $width-md) {
      text-align: center;
      border-right: none;
    }
    @media screen and (max-width: $width-sm) {
    }
    @media screen and (max-width: $width-xs) {
    }
  }
  .phone-slab__right {
    text-align: left;
    @media screen and (max-width: $width-md) {
      text-align: center;
      margin-bottom: $spacing-sm;
    }
    @media screen and (max-width: $width-sm) {
    }
    @media screen and (max-width: $width-xs) {
    }
  }
}