a.btn,
button.btn {
  font-family: $ff-lato;
  font: 400 !important;
  text-transform: uppercase;

  background-color: $c-btn;
  color: $c-white;
  //border: 2px solid $c-white;
  border-radius: 15px;
  &:hover, &:focus {
    background-color: darken($c-btn, 15% );
    text-decoration: none;
    color: $c-white;
  }

  padding: $spacing-sm $spacing-md;

  font-size: 17px;
  @media screen and (max-width: $width-sm) {
    font-size: 16px;
  }

  &.shadowed {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.30);
  }

  &.form-btn {
    width: 100%;

  }

}


button.btn-style-2 {
  color: #67250d;
  background: #fbad17;
  border: 2px solid #67250d;
}

button.btn {
  text-transform: uppercase;
}