#section-insurance {

  $c-no-insurance: $c-btn;
  $c-sub-header: $c-black-blue;
  $c-preventative: $c-btn;
  $c-copy: $c-black-blue;
  $c-mobile-bg: $c-grey-yellow;

  padding-top: 50px;
  background-image: url('/assets/no-insurance-bkgd.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  @media (max-width: $width-sm) {
    background-color: $c-mobile-bg;
    background-image: none;
    .row>div {
      text-align: center;
    }
  }
  .sub-text {
    line-height: 1.2;
    &--last {
      margin-bottom: $spacing-lg;
    }
  }

  h2 {
    color: $c-no-insurance;
    font-family: $ff-advent;
    font-weight: 400;
    @include font-size(95px, 80px, 55px, 50px, 50px);
    margin-bottom: 0;
  }
  h4 {
    @include h3;
    color: $c-sub-header;
    font-family: $ff-raleway;
  }
  h3 {
    color: $c-preventative;
    font-weight: 900;
    font-family: $ff-lato;
    @include font-size(32px, 30px, 28px, 28px, 20px);
  }
  .btn {
    padding-top: 10px;
    padding-bottom: 10px;
    @include lr-padding(80px, 70px, 60px, 60px, 40px);
    margin-bottom: 100px;
  }
  h6 {
    font-family: $ff-lato;
    font-weight: 700;
    color: $c-copy;
  }

  //Fix for insurance background on mobile
  .mobile-insurance-fix {
    display: none;
    @media (max-width: $width-sm) {
      margin-top: -100px;
      display: block;
    }
  }
}
