
/// Font Colors
$c-brick: #E87400;
$c-orange: #FA6D22;
$c-dark-purple: #79457A;
$c-darkish-purple: #6F3871;
$c-darker-purple: #471D48;
$c-purple: #C775BE;
$c-grey-nav: #6C6561;
$c-yellow-black: #393937;
$c-light-blue: #80D4FF;
$c-blackish: #333333;
$c-insurance-yellow: #fee8db;

/// Background Colors
$c-nav-background: #F2E9F9;
$c-associations: #F7F2FE;
$c-light-pink: #F3EBF3;

/// Specials Cards
$c-card1: #3493A0;
$c-card2: #E5793F;
$c-card3: #00639E;

//Old Colors
//^^^^^^^^^^



//New Colors

/// Button Color
$c-btn: #DB4D01;

//Font Colors
$c-black-blue: #343B42;
$c-grey-blue: #034973;
$c-black-blue: #343B42;
$c-greyer-blue: #909293;
$c-grey: #5B5D5F;
$c-light-grey: #A1A3A4;
$c-dark-teal: #005D86;
$c-teal-link: #00639E;
$c-teal: #3EA3B0;

//Background Colors
$c-grey-orange: #F1EDEA;
$c-grey-yellow: #D4CCC5;
$c-teal-2: #3493A0;


/// Misc
///
$c-star: #FFCD00;
$c-star-2: #FFB111;
$c-black: #000000;
$c-white: #FFFFFF;
$c-clear: rbga(0,0,0,1);