//Font Families
$ff-josef: 'Josefin Sans', sans-serif;
$ff-mont: 'Montserrat', sans-serif;
$ff-cardo: 'Cardo', serif;

$ff-lato: 'Lato', serif;
$ff-open: 'Open Sans', sans-serif;
$ff-raleway: 'Raleway', sans-serif;
$ff-roboto: 'Roboto', sans-serif;
$ff-roboto-condensed: 'Roboto Condensed', sans-serif;
$ff-advent: 'Advent Pro', sans-serif;

//Spacing
$spacing-xs: 5px;
$spacing-sm: 15px;
$spacing-md: 30px;
$spacing-lg: 45px;
$spacing-xl: 60px;
$spacing-xxl: 75px;

//Breakpoints
///
$width-xs: 480px;
///
$width-sm: 768px;
///
$width-md: 992px;
///
$width-lg: 1200px;

//Line heights
$lh-xs: 1;
$lh-sm: 1.2;
$lh-md: 1.5;
$lh-lg: 1.8;